<div class="container">
  <h1>Login 🔐HIH</h1>

  <mat-form-field appearance="fill">
    <mat-label>Email or Phone</mat-label>
    <input matInput [(ngModel)]="loginId" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" [(ngModel)]="password" />
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="login()">Login</button>

  <p>Don't have an account? <a routerLink="/register">Register</a></p>
</div>
